:root {
    --bookstoreFont: serif;
}

/*Body Start*/
body {
    scroll-behavior: smooth;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: var(--bookstoreFont);
}

/*Body end*/

/* NavBar Start */
.bookstoreLogo {
    width: 50px;
    margin: 0px 20px;
}
.navbar{
    background-color: rgb(227, 116, 116);
}
.navbar-brand {
    font-family: serif;
    letter-spacing: 3px;
   
}

.nav-item a {
    font-family: serif;
    color: white;
    position: relative;
}

.dropdown-menu{
    background-color: rgb(244, 153, 153);
}
@media screen and (min-width:992px) {
    .nav-item a::before {
        content: "";
        position: absolute;
        background-color: white;
        width: 0;
        height: 1px;
        left: 7px;
        bottom: 7px;
    }

    .nav-item a:hover::before {
        width: 80%;
        transition: 0.5s;
    }
}

/* NavBar End */

/* Header Start */

.headerText1 {
    font-family: var(--bookstoreFont);
}

.headPlay {
    transition: 0.5s;
}

.headPlay:hover {
    transform: scale(1.2);
}

@media screen and (min-width: 992px) {
    .header {
        height: 90vh;
    }
}

/* Header End */

/* About Start */
.aboutText {
    text-align: justify;
}

@media screen and (min-width:1400px) {
    .aboutImage {
        height: 700px !important
    }
}

/* About End */

/* Event Start */
@media screen and (min-width:0px) {
    .eventImage {
        height: 250px;
    }
}

@media screen and (min-width:500px) {
    .eventImage {
        height: 300px;
    }
}

@media screen and (min-width:768px) {
    .eventImage {
        height: 400px;
    }
}

@media screen and (min-width:992px) {
    .eventImage {
        height: 500px;
    }
}

@media screen and (min-width:1200px) {
    .eventImage {
        height: 600px;
    }
}

@media screen and (min-width:1400px) {
    .eventImage {
        height: 680px;
    }
}

/* Event End */


/* Gallery Start */
.mainImage img {
    width: 400px;
    height: 300px;
}

.imgArrow {
    width: 500px;
    position: relative;
    bottom: 180px;
}

.imgPrev,
.imgNext {
    color: rgb(216, 194, 194);
    transition: 0.4s;
}

.imgNext {
    float: right;
}

.imgPrev:hover,
.imgNext:hover {
    color: rgb(153, 10, 58);
}

.imgPrev:hover {
    transform: translate(-10px);
}

.imgNext:hover {
    transform: translate(10px);
}

.smallImage img {
    display: none;
}

@media screen and (min-width:768px) {
    .smallImage img {
        display: block;
        height: 80px;
    }
}

@media screen and (min-width:992px) {
    .smallImage img {
        height: 90px;
    }

    .mainImage img {
        width: 600px;
        height: 400px;
    }

    .imgArrow {
        bottom: 220px;
        width: 700px;
    }
}

@media screen and (min-width:1200px) {
    .smallImage img {
        height: 100px;
    }

    .mainImage img {
        width: 700px;
        height: 500px;
    }

    .imgArrow {
        bottom: 250px;
        width: 800px;
    }
}

/* Gallery End */
